[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn

[dn]
C            = UK
ST           = England
L            = London
O            = Organization
OU           = Organization dept.
emailAddress = admin@yii-skeleton.local
CN           = yii-skeleton.local
